.yesil-buton-renk{
    color: white !important;
    border: 1px solid #fff !important;
    background-color: transparent;
}

.yesil-buton-renk:hover{
    color: white !important;
    border: 1px solid #fff !important;
    background-color: rgba(179, 179, 179, 0.5) !important;
}

.globe-video {
    width: 100%;
    height: 100%;
}

.chrome-logo-first{
    width: 8%;
    height: 8%;
}

.chrome-logo-border{
    border: 1px solid #424b5b;
    border-radius: 50px;
}

.chrome-logo-margin{
    margin-top: 150px;
}

.ilk-buyuk-yazi{
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.globe-sol{
    background: linear-gradient(90deg, rgba(2,5,14,1) 55%, rgba(219,219,219,0) 100%) !important;
}

.globe-sol:hover{
    box-shadow: 1px 1px 30px rgb(145, 145, 145);
}

.ikinci-yazi{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.ikinci-yazi-boyut{
    font-size: 28px;
}

.sign-up-yazi{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-boyut{
    width: 60%;
    height: 50px;
    border: transparent;
}

.btn-renk{
    background-color: #2ea650;
    border: transparent;
}

.btn-renk:hover{
    background-color: #106929;
}

.body-footer-br{
    margin-top: 100px !important;
}

.globe-footer-mt{
    margin-top: 11%;
}

.times-footer{
    list-style-type: none;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.family-footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer-padding{
    padding-left: 100px;
}

.yazı-tasma{
    white-space: nowrap;
    overflow: hidden;
}

.mona-ayarlama {
    position: absolute;
    width: 450px;
    height: 450px;
    margin-top: -177px;
    margin-left: 80px;
}

.cikinti {
    margin-top: 4%;
}

.chrome-logo-text-first{
    padding-top: 20px;
    padding-bottom: 10px;
}

.xox{
    font-size: 11px;
}

.footer-kayma-p{
    padding-left: px;
}

.hr-margin-top{
    padding-top: 0px;       
}

.body-2{
    background-color: white;
}

.body-2-ilk-kutu{
    width: 1033px;
    border: 1px solid #cdd0d3;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.custom-responsive-2{
    display: flex;
}

.a-ayar{
    list-style-type: none;
    text-decoration: none;
}

.a-ayar-custom1{
    list-style-type: none;
    text-decoration: none;
    color: #57606a;
}

.a-ayar-custom1:hover{
    color: #57606a;
}

.start-free-button{
    white-space: nowrap;
    color: black;
    border-radius: 8px;
    border: 1px solid #bdbdbd;
    background-color: transparent;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    font-weight: bold;
    transition: all 0.2s;
}

.start-free-button:hover{
    border: 1px solid #000000;
}

.start-free-button-2{
    white-space: nowrap;
    color: black;
    border-radius: 8px;
    border: 1px solid #bdbdbd00;
    background-color: transparent;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    font-weight: bold;
    transition: all 0.2s;
}

.start-free-button-2:hover{
    border: 1px solid #000000;
}

.header-ul-ayarlama{
    list-style-type: none;
}

.header-li-ayarlama{
    padding-left: 8.5%;
}

.li-color-transition{
    color: black;
    transition: all 0.2s;
}

.li-color-transition:hover{
    color: rgb(8, 163, 235);
    cursor: pointer;
}

.fs-18{
    font-size: 18px;
}

.body-2-header-ortalama{
    margin-left: 12%;
    margin-top: 10%;
}

  /* Underline styles */
.header-ul-ayarlama a {
    display: block;
    position: relative;
}
  
  /* Fade in */
.header-ul-ayarlama a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
  
.header-ul-ayarlama a:hover::after,
.header-ul-ayarlama a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}
  

  
  /* Scale from center */
.header-ul-ayarlama li a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}
  
.header-ul-ayarlama li a:hover::after,
.header-ul-ayarlama li a:focus::after{
    transform: scale(1);
}

.ilk-kutu{
    background-color: #040d21;
    border-radius: 20px;
}

.big-text-gradient {
    display: inline-block;
    background: linear-gradient(to right, #9ff6d1 0%,#74c0f3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.big-text {
    margin-left: 249px;
    margin-top: 100px;
}

.pp{
    text-decoration: none;
    color: #8193b2;
    font-size: 22px;
}

.fs-22{
    font-size: 22px;
}

.pp:hover{
    color: #8193b2;
}

.a-custom-1{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
}

.a-custom-1:hover{
    color: #fff;
}

.ul-custom-ayarlama{
    list-style-type: none;
    padding-left: 12%;
    margin-top: 3%;
    list-style-image: url('circle.png');
}


.link-efekt a {
    line-height: 2;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 10px;
    cursor: pointer;
}

.link-efekt a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #ffffff;
    transition: width .3s ease-in-out;
}

.link-efekt a:hover:after,
.link-efekt a:focus:after {
    width: 100%;
}

.fff{
    font-size: 11px;
}

.profiles-1-boyut{
    width: 28px;
    height: 28px;
    opacity: 0.6;
}

.custom-text-2{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.custom-stil{
    list-style-image: url('upload.png');
}

.readme{
    font-size: 11px;
}

.kayar-resim-1{
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 0px 5px 200px rgba(0, 119, 255, 0.253);
}

.ilk-kutu-boyut {
    width: 1461px !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.kayar-resim-2{
    margin-left: 200px;
    margin-top: 60px;
    box-shadow: 0px 5px 200px rgba(0, 119, 255, 0.253);
}

.ssr {
    border-left: 2px solid #42526d;
    height: 179px;
    position: absolute;
    margin-top: -88.2%;
    margin-left: 8.3%;
}
.ssr-2 {
    border-left: 2px solid #42526d;
    height: 24px;
    position: absolute;
    margin-top: -77%;
    margin-left: 8.3%;
}
.ssr-3 {
    border-left: 2px solid #42526d;
    height: 55px;
    position: absolute;
    margin-top: -74.6%;
    margin-left: 8.3%;
}
.ssr-4 {
    border-left: 2px solid #42526d;
    height: 45px;
    position: absolute;
    margin-top: -32.8%;
    margin-left: 8.3%;
}
.ssr-5 {
    border-left: 2px solid #42526d;
    height: 32px;
    position: absolute;
    margin-top: -29.4%;
    margin-left: 8.3%;
}
.ssr-6 {
    border-left: 2px solid #42526d;
    height: 414px;
    position: absolute;
    margin-top: -26.6%;
    margin-left: 8.3%;
}
.ssr-7 {
    border-left: 2px solid #42526d;
    height: 54px;
    position: absolute;
    margin-top: -3.7%;
    margin-left: 8.3%;
}

.ilk-li-responsive{
    padding-left: 48px;
}

.metin-responsive{
    margin-left: 48px;
    margin-top: 48px;
}

.custom-responsive-5{
    display: flex;
}

.custom-responsive-7{
    padding-left: 36px;
    padding-top: 24px;
}

.start-free-position{
    margin-top: 16px;
    margin-left: 8px;
}

.ssr-8 {
    border-left: 2px solid #ccd1da;
    height: 58px;
    position: absolute;
    margin-top: -3.36%;
    margin-left: 0.6%;
}

.ikinci-kutu {
    background-color: none;
    width: 1384px;
    margin-left: 207px;
}

.egim-ayarlama{
    margin-left: -23px;
    margin-top: -2px;
}

.ul-2-list-image{
    list-style-image: url('circle-white.png');
}

.ul-2-m{
    margin-left: 90px;
}

.ul-1-m{
    margin-bottom: 0;
}

.origin-ayar{
    font-size: 14px;
    border: 1px solid #d0d7de;
    width: 240px;
    height: 30px;
    border-radius: 30px;
    color: #57606a;
}

.text-mono {
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;
}

.ilm-2{
    margin-top: -5px;
}

.te-1{
    font-weight: 700;
    color: #929292;
    font-size: 15px;
}

.body-3-big-text{
    font-weight: 700;
}

.gradient-text-2{
    text-decoration: none;
    background: -webkit-linear-gradient(-70deg, #db469f 0%, #2188ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

.fs-custom{
    font-size: 70px;
}

.ct-1{
    font-weight:700;
}

.link-efekt-2 a {
    line-height: 2;
    display: inline-block;
    color: #000000 !important;
    text-decoration: none;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: lighter;
}

.link-efekt-2 a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #000000;
    transition: width .3s ease-in-out;
}

.link-efekt-2 a:hover:after,
.link-efekt-2 a:focus:after {
    width: 100%;
}

.link-effect-loading{
    border-bottom: 2px solid rgb(184, 184, 184);
    width: 320px;
    margin-top: -12px;
}

.link-effect-loading-2{
    border-bottom: 2px solid rgb(75, 75, 75);
    width: 152px;
    margin-top: -12px;
}

.sss{
    margin-top: -15px;
}

.sss-2{
    margin-top: -23px;
}

.custom-margin-1{
    margin-top: 140px;
}

.custom-image-ayar-1{
    width: 407px;
    height: 181px;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.288);
}

.custom-margin-2{
    margin-left: 85px;
}

.custom-margin-3{
    margin-top: 200px;
}

.custom-margin-4{
    margin-top: 320px;
}

.a-custom-10{
    text-decoration: none;
    color: #fff;
    font-size: 28px;
}


.custom-image-ayar-2{
    width: 406px;
    height: 392px;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.288);
}

.custom-image-ayar-3{
    width: 406px;
    height: 392px;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.288);
}

.img-custom-margin-5{
    margin-left: 105px;
}

.img-custom-margin-6{
    margin-left: 110px;
    z-index: 5;
}

.img-custom-margin-7{
    margin-left: 85px;
    z-index: 5;
}

.custom-margin-10{
    margin-top: 120px;
    z-index: 5;
}

.ssr-9 {
    border-left: 2px solid #ccd1da;
    height: 527px;
    position: absolute;
    margin-top: 9.64%;
    margin-left: 5.75%;
}

.ssr-10 {
    border-left: 2px solid #ccd1da;
    height: 445px;
    position: absolute;
    margin-top: 38.64%;
    margin-left: 5.75%;
}

.ssr-11 {
    border-left: 2px solid #ccd1da;
    height: 707px;
    position: absolute;
    margin-top: 63.3%;
    margin-left: 5.75%;
}

.ssr-12 {
    border-left: 2px solid #ccd1da;
    height: 369px;
    position: absolute;
    margin-top: 101.6%;
    margin-left: 5.75%;
}

.ssr-13 {
    border-left: 2px solid #ccd1da;
    height: 2445px;
    position: absolute;
    margin-top: 1.5%;
    margin-left: 0.6%;
}

.egim-ayarlama-2 {
    margin-left: -112px;
    margin-top: 2px;
}

.kutu-2-bg-img {
    opacity: 0.3;
    width: 640px;
    height: 1325px;
    position: absolute;
    margin-top: 556px;
    margin-left: 663px;
}

@media only screen and (max-width : 393px) {
    
    .cikinti {
        margin-top: 4%;
        margin-left: -200%;
    }


    .mona-ayarlama {
        position: absolute;
        width: 320px;
        height: 320px;
        margin-top: -210px;
        margin-left: 15px;
    }

    .globe-video {
        width: 100%;
        height: 100%;
    }
    
    .buton-margin1{
        margin-left: 10px;
        margin-top: 10px !important;
    }

    .buton-margin2{
        margin-left: 10px;
    }

    .ilk-buyuk-yazi{
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 35px !important;
    }
    
    .ikinci-yazi-boyut{
        font-size: 20px;
    }

    .chrome-logo-first{
        width: 12%;
        height: 12%;
    }

    .chrome-logo-margin{
        margin-top: 50px;
    }

    .chrome-logo-text-first{
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .footer-padding{
        padding-left: 40px;
    }

    .footer-kayma-p{
        padding-left: 160px !important;
    }

    .body-2-header{
        display: none;
    }

    .big-text {
        margin-left: 45px;
        margin-top: 30px;
    }

    .ul-custom-ayarlama{
        list-style-type: none;
        padding-left: 3%;
        margin-top: 3%;
        list-style-image: url('circle.png');
    }

    .ilk-li-responsive{
        padding-left: 5px;
    }

    .kayar-resim-1{
        margin-left: auto;
        margin-right: auto;
        display: block;
        box-shadow: 0px 5px 200px rgba(0, 119, 255, 0.253);
        width: 462px;
        height: 310px;
        margin-left: 0;
    }

    .kayar-resim-2{
        box-shadow: 0px 5px 200px rgba(0, 119, 255, 0.253);
        margin-left: 45px;
        margin-top: 250px;
        width: 340px;
        height: 220px;
    }

    .metin-responsive{
        margin-left: -340px;
        margin-top: -270px;

    }

    .img-2{
        margin-top: 60px;
    }

    .a-custom-1{
        text-decoration: none;
        color: #fff;
        font-size: 17px;
    }

    .a-custom-2{
        font-size: 17px;
    }
    
    .a-custom-3{
        font-size: 30px !important;
    }

    .ssr {
        border-left: 2px solid #42526d;
        height: 148px;
        position: absolute;
        margin-top: -352%;
        margin-left: 6.8%;
    }
    .ssr-2 {
        border-left: 2px solid #42526d;
        height: 27px;
        position: absolute;
        margin-top: -305.8%;
        margin-left: 6.8%;
    }
    .ssr-3 {
        border-left: 2px solid #42526d;
        height: 58px;
        position: absolute;
        margin-top: -294.6%;
        margin-left: 6.8%;
    }
    .ssr-4 {
        border-left: 2px solid #42526d;
        height: 45px;
        position: absolute;
        margin-top: -200.9%;
        margin-left: 6.8%;
    }
    .ssr-5 {
        border-left: 2px solid #42526d;
        height: 34px;
        position: absolute;
        margin-top: -184.9%;
        margin-left: 6.8%;
    }
    .ssr-6 {
        border-left: 2px solid #42526d;
        height: 584px;
        position: absolute;
        margin-top: -171.9%;
        margin-left: 6.8%;
    }
    .ssr-7 {
        border-left: 2px solid #42526d;
        height: 56px;
        position: absolute;
        margin-top: -18.4%;
        margin-left: 6.8%;
    }

    .responsive-metin-1{
        font-size: 16px !important;
    }

    .responsive-metin-2{
        font-size: 16px !important;
    }

    .ilk-kutu{
        background-color: #040d21;
        border-radius: 20px;
        margin-top: 120px;
    }

    .custom-responsive-2{
        flex-direction: column;
    }

    .markalar-responsive{
        width: 320px;
        margin-left: -10px;

    }

    .custom-responsive-3 {
        padding-bottom: 115px;
    }

    .markalar-responsive-2 {
        margin-right: 679px;
        width: 364px;
        position: absolute;
        margin-right: auto;
        margin-left: auto;
        display: block;
        margin-top: -115px;
    }

    .custom-responsive-4{
        width: 380px;
    }

    .custom-responsive-5{
        width: 152px;
        flex-direction: column;
        margin-left: 72px;
    }

    .custom-responsive-6{
        margin-left: 90px !important;
    }

    .start-free-position{
        padding-top: 10px;
        margin-top: 10px;
        margin-left: 0px;
    }

    .responsive-custom-1{
        padding-left: 15px;
    }
    
    .responsive-custom-2{
        padding-left: 30px;
    }
}